<app-navbar class="position-absolute w-100"></app-navbar>
<div class="temp">
    <div class="upper">
        <div class="row">
            <div class="row flex-fill">
                <div class="firstcard">
                    <div class="card align-content-center">
                        <h3 class="card-title">  User Details </h3>
                        <p class="card-text">
                            <span style="font-weight: bold;">Company Name:</span> {{userDat.companyName}}
                        </p>
                        <p class="card-text">
                            <span style="font-weight: bold;">Person In Charge:</span> {{userDat.contactPersonName}}
                        </p>
                        <p class="card-text">
                            <span style="font-weight: bold;">Email:</span> {{userDat.email}}
                        </p>
                        <p class="card-text">
                            <span style="font-weight: bold;">Phone Number:</span> {{userDat.phoneNumber}}
                        </p>    
                        <p class="card-text">
                            <span style="font-weight: bold;">Office Address:</span> {{userDat.officeAddress}}
                        </p>
                        <p class="card-text">
                            <span style="font-weight: bold;">GST Number:</span> {{userDat.gstNumber}}
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>



