.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  mat-card {
    width: calc(33.33% - 20px); /* Set the margin to 20px to fit 3 cards in a row */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image {
    flex: 1;
  }
  
  .img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .name {
    flex: 0;
  }
  
  .description {
    flex: 1;
  }
  
  /* Clear float after every 3 cards */
  .clear-float {
    clear: both;
    width: 100%;
  }
  
