<header class="header">
    <div class="inline-content">
    <div class="logo">
      <img src="assets\images\wi-fyi logo.png" alt="Wi-FYI Logo" (click)="Home()">
    </div>
    <div class="button">
      <button mat-button class="header-button" color="white">Mobile True 5G</button>
      <button mat-button class="header-button" color="white">Wi-FYIFiber</button>
      <button mat-button class="header-button" color="white">AirFIber</button>
      <button mat-button class="header-button" color="white">Business Device</button>
      <button mat-button class="header-button" color="white">Apps Support</button>
      <i class="fa-solid fa-magnifying-glass fa-lg  fa-icon p-2"></i>
      <i class="fa-solid fa-user fa-lg fa-icon p-2"></i>

    </div>
    
    </div>
</header>
  

<div class="image-container">
    <img src="assets\images\backgroundimage3.jpg" alt="Your Image" class="image">
    <div class="text-overlay">
      <div><h1><b>Introducing</b></h1></div>
      <div><h1><b>Wi-FYIAirFiber</b></h1></div>
      <p>India's latest home entertainment and Wi-Fi service.</p>
  
      <div><button mat-button class="custom-button" (click)="Home()">Get Wi-FYIAirFiber</button>
      </div>
      
    </div>
    
  </div>



<div class="image-panel">

    <div class="sometext">
     <h2>List of internet service provided by Wi-FYI</h2>

    </div>


   

<mat-accordion >


 <mat-expansion-panel class="ask">
   <mat-expansion-panel-header>
     <mat-panel-title>
       <!-- Your image goes here -->
       <img src="assets\images\Bharti Airtel Limited.jpg" alt="Image 1">
     </mat-panel-title>
     <mat-panel-description>
      <b> Bharti Limited Airtel </b>
     </mat-panel-description>
   </mat-expansion-panel-header>
   <p>Bharti Airtel Limited
     image of Bharti Airtel Limited
     www.airtel.in
     Bharti Airtel Limited, commonly known as Airtel, is an Indian multinational telecommunications services company based in New Delhi. It operates in 18 countries across South Asia and Africa, as well as the Channel Islands. Currently, Airtel provides 5G, 4G and LTE Advanced services all over India.</p>
 </mat-expansion-panel>


<div>
 <mat-expansion-panel class="ask">
   <mat-expansion-panel-header>
     <mat-panel-title>
       <!-- Your image goes here -->
       <img src="assets\images\bsnl.png" alt="Image 2">
     </mat-panel-title>
     <mat-panel-description>
     <b>  Bharat Sanchar Nigam Limited</b>
     </mat-panel-description>
   </mat-expansion-panel-header>
   <p>Bharat Sanchar Nigam Limited is a central public sector undertaking headquartered in New Delhi, India. It is under the ownership of the Department of Telecommunications, Ministry of Communications, Government of India. It was incorporated on 1 October 2000 by the Government of India. </p>
 </mat-expansion-panel>


 </div>
 <!-- Add more panels as needed -->
 <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Airtel_logo.svg" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Airtel</b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>One of the primary advantages of having an Airtel broadband service is that it is entirely powered by fibre optic cable.</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\jio2.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Jio</b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Reliance Jio Infocomm Limited, doing business as Jio, is an Indian telecommunications company and a subsidiary of Jio Platforms, headquartered in Navi Mumbai, Maharashtra, India. It operates a national LTE network with coverage across all 22 telecom circles.</p>
   </mat-expansion-panel>



   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Vi-logo.svg" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
        <b> Vodafone Idea Limited</b>
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>
       
       
       Vodafone Idea Limited
       Vodafone Idea Limited
       image of Vodafone Idea Limited
       www.myvi.in
       Vodafone Idea or Vi is an Indian mobile network operator with its headquarters based in Mumbai and Gandhinagar. It is an all-India integrated GSM operator offering 2G, 4G, LTE Advanced, VoLTE, 5G and VoWiFi service</p>
   </mat-expansion-panel>



   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Reliance_Communications_Logo.svg.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Reliance Communications Limited </b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Reliance Communications Limited was an Indian mobile network provider headquartered in Navi Mumbai, Maharashtra that offered voice and 2G and 3G and 4G data services. In February 2019, the company filed for bankruptcy as it was unable to sell assets to repay its debt.</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\you.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b>  YOU Broadband India Limited</b>
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>YOU broadband service is provided by Vodafone, and they provide this service to only some parts of cities in India. They were also providing some great value if ...</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\act2.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Atria Convergence Technologies</b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Atria Convergence Technologies Limited, branded as ACT, is an Indian telecommunications company headquartered in Bengaluru, Karnataka, India. ACT offers fibre to the home services under the brand name "ACT Fibernet" and digital television services under the "ACT Digital" brand.</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Mahanagar_Telephone_Nigam_Limited_(emblem).svg" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b>  Mahanagar Telephone Nigam Limited</b>
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Mahanagar Telephone Nigam Limited is a 'Navratna' Category Public sector undertakings in India which is in turn under the ownership of the Department of Telecommunications, Ministry of Communications, Government of India. Headquartered in New Delhi, India.</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\tatacommunication.webp" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Tata Communications Ltd </b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Tata Communications Limited is an Indian telecommunications company. It was previously a government-owned telecommunications service provider and under the ownership of Department of Telecommunications, Ministry of Communications, and the Government of India.</p>
   </mat-expansion-panel>

   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Hathway.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b>  Hathway Cable and Datacom Limited </b>
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Hathway Cable & Datacom Ltd, formerly BITV Cable Networks, is an Indian cable television service operator based in Mumbai. It was the first company to provide Internet using the CATV network in India, and the first cable operator to launch a digital platform in 2006.</p>
   </mat-expansion-panel>


   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Tikona_Digital.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
      <b>  Tikona Infinet Limited </b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Tata Tele Business Services Limited, formally known as Tata Tele Services Limited, is an Indian telecommunications service provider based in Mumbai. It is a subsidiary of the Tata Group, an Indian conglomerate. the company provides information and communication technology solutions for businesses in India.</p>
   </mat-expansion-panel>



   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\Sifylogo.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b>  SIFY TECHNOLOGIES LIMITED</b>
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Sify Technologies Limited is an Indian information and communications technology company providing end-to-end ICT solutions including telecom services, data center services, cloud & managed services, transformation integration services and application integration services.</p>
   </mat-expansion-panel>

   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\tata telservice.jpeg" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Tata Teleservices (Maharashtra) Ltd </b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Tata Tele Business Services Limited, formally known as Tata Tele Services Limited, is an Indian telecommunications service provider based in Mumbai. It is a subsidiary of the Tata Group, an Indian conglomerate. the company provides information and communication technology solutions for businesses in India</p>
   </mat-expansion-panel>



   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\pulse.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
      <b>  Pulse Telesystems Private Limited</b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Pulse Telesystems Pvt. Ltd. Tamil Nadu Including Pondicherry, Christopher Julius, Head-Network Infrastructure, 11/9, Sterling Road 3rd Cross Street </p>
   </mat-expansion-panel>



   <mat-expansion-panel class="ask">
     <mat-expansion-panel-header>
       <mat-panel-title>
         <!-- Your image goes here -->
         <img src="assets\images\alliance broadband.png" alt="Image 2">
       </mat-panel-title>
       <mat-panel-description>
       <b> Alliance Broadband Services Pvt Ltd</b> 
       </mat-panel-description>
     </mat-expansion-panel-header>
     <p>Alliance Broadband Services Pvt Ltd
       Alliance Broadband Services Pvt. Ltd. 200,704, 1.03 x 232, 1, 492. The ultimate resource fo</p>
   </mat-expansion-panel>
    
</mat-accordion>



</div>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Our Offerings</h4>
          <ul>
            <li>High-Speed Internet</li>
            <li>24/7 Assistance</li>
            <li>Services</li>
            <li>Devices</li>
          </ul>
        </div>
        <div class="col">
          <h4>Support</h4>
          <ul>
            <li>Track Order</li>
            <li>Relocate Wi-FYIFiber</li>
            <li>My Account</li>
            <li>FAQ</li>
            <li>Locate Us</li>
            <li>Claim Refund</li>
            <li>Feedback</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col">
          <h4>Our Company</h4>
          <ul>
            <li>Wi-FYI Industries</li>
            <li>Wi-FYI Foundation</li>
            <li>Wi-FYILife</li>
            <li>Careers</li>
            <li>Investor Relations</li>
          </ul>
        </div>
        <div class="col">
          <h4>Useful Links</h4>
          <ul>
            <li>Get Wi-FYIFiber</li>
            <li>Wi-FYIAutoPay</li>
          </ul>
        </div>
        <div class="col">
          <h4>Connect with us</h4>
          <ul>
           
                <div class="icon-container">
                  <i class="fa-brands fa-x-twitter fa-2x p-2"></i>
                  <i class="fa-brands fa-instagram  fa-2x p-2"></i>
                  <i class="fa-brands fa-facebook fa-2x p-2"></i>
                  <i class="fa-brands fa-youtube fa-2x p-2"></i>
                  <i class="fa-brands fa-linkedin fa-2x p-2"></i>
                </div>
            
          </ul>
          <h4 >Download Wi-FYI</h4>
          <ul>
            <div class="icon-container">
              <i class="fa-brands fa-google-play fa-2x p-2"> </i>
              
              <i class="fa-brands fa-apple fa-2x p-2"></i>
               <!-- Add more icons as needed -->
            </div>

          </ul>
        </div>

      </div>
    </div>

  
  </footer>
  


