<div class="bg">
<section>
 <h1 style="text-align: center; " class="h3">Our Top Brands</h1>
  <article style="animation: bannermove 10s linear infinite;" class="animated fadeIn infinite">
    <div class="row flex-fill">
     
      <div class="col flex">
        <li><img src="assets\images\Whirlpool.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Excitel.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Hathway.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Gigatel.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Airtel.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Jio.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\ACT.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Wave.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Tata.png" /></li>
      </div>
      <div class="col">
        <li><img src="assets\images\Powernet.png" /></li>
      </div>
      <ul>
      </ul>
    </div>
  </article>
</section>
</div>

<section class="stt">
  <h1 style="text-align: center; " class="h3">What Comes to our table ?</h1>
  <article class="animated fadeIn infinite">
     <div>
       <ul class="bord">
         <li>Access a wide range of broadband service providers.</li>
         <li>Find affordable plans tailored to your budget.</li>
         <li>Enjoy lightning-fast internet for seamless online experiences.</li>
         <li>Make smart choices with detailed provider comparisons.</li>
         <li> Get expert advice to find the perfect broadband solution.</li>
       </ul>
     </div>
   </article>

</section>
