<app-navbar></app-navbar>
<div class="section ">
  <div class="text">
   <div class=" flex-fill fle">
    <h1 class="justify-content-center">
    <div>
      Attractive Plans <br><br><br>
      + <br><br><br>
      Top Brands
    </div></h1><br><br><br>
   </div>
   <div class="flex-fill">
    <p class="text-center" >
      
      Welcome to our comprehensive broadband service provider directory. Discover the best broadband options from top providers,
       compare plans, and make informed decisions for high-speed internet access tailored to your needs.
    </p> 
   </div>
   <div>
    <button mat-raised-button color="primary" (click)="navigateToViewPlansComponent() " class="col-5 flex-column btn1 mx-4"><h3>View Plans</h3></button>
    <button *ngIf="role == 'User'" mat-raised-button color="primary" (click)="navigateToCheckPlansComponent()" class=" col-5 flex-column btn2 mx-2"><h3>Compare plans</h3></button>
   </div>
   </div>
   <div>
    <img src="assets\images\Broadband.jpeg" alt="" class="im1 bg1" >
   </div>
 
 </div>
<div>
  <app-slider></app-slider>
  <hr class="solid">
  <router-outlet></router-outlet>
</div>