<div class="background">
    <div class="left-panel"></div>
    <div class="right-panel">
      <mat-card class="login-card">
        <div class="flex-fill">
          <img class="align-content-center" src="assets/images/logo.png" alt="abc" >
        </div>
        <mat-card-header>
          <mat-card-title><h1>Login</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="onsubmit()" #LoginForm="ngForm">

            <mat-form-field class="full-width">
              <input matInput placeholder="Email" name="email" [(ngModel)]="loginForm.email" required> 
              <mat-error *ngIf="LoginForm.controls['email'].hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="LoginForm.controls['email'].hasError('email')">Invalid email format</mat-error>
              
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="loginForm.password" required>
              
            </mat-form-field>
         
            <button mat-raised-button color="primary" class="login-button" [disabled]="!LoginForm.form.valid">Login</button>
          </form>
          <div class="ref"><p>Don't have an account?<a routerLink="/userRegistration">Join Wi-FYI</a></p>
          </div>
         <Div class="ref"><p>Want to Register as service Provider?<a routerLink="/providerRegistration">Join Wi-FYI</a></p>
         </Div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>