<header>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <div class="container">
   <img src="assets\images\image-removebg-preview.png" alt="wait" class="image">
 <nav>
  <ul>
    <li>


     <a href="">Suggested Plans</a>
      <a href="">Brands</a>



    </li>
    <li><a href="#" id="profile">Profile</a>
      <ul class="dropdown">

        <li><a href=""><img src="assets\images\baseline_person_black_24dp.png" alt=""><br>Name</a></li>
        <li><a href="#"><img src="assets\images\baseline_call_black_24dp.png" alt=""><br>contact no</a></li>
        <li><a href="#"><img src="assets\images\mail-icon.png" alt=""><br>e-mail</a></li>
        <li><a href="#"><img src="assets\images\logout-icon.png" alt=""><br>Log out</a></li>
      </ul></li>
   </ul>
  </nav>
</div>
</header>






